<!DOCTYPE html>
<body>
    <head>
        <link rel="stylesheet" href="style.css">
        <title>Vuejs_alapok</title>
    </head>
    <div id="app">
        <h1>{{ hello }}</h1>
        <p>Greeting: <b>{{hello}}</b></p>
        <p :title= "tooltip">Move mouse over me!</p><!--a v-bind: ugyan az mint ha csak a : lenne ott-->
        <p :class="[color,fontweight]">Text</p>
        <p :style="StyleObject">Styled text</p>
        <p>{{hello.split(' ').reverse().join(' ')}}</p><!--mindent felül vizsgál ami a {}-ben van-->
        <span v-html="myheader"></span>
        {{myheader}}<!--így nem értelmezi a html tageket kell hozzá a v-html direktíva-->
        <br>
        <span v-once>{{hello}}</span>
        <p>{{reverseHello}}</p>
        <p>{{capitalizeHello()}}</p>
        <p>{{add(5,3)}}</p>

        <p v-if="showhelloworld">Hello world!</p>
        <template v-if="showhelloworld">
            <h1>Hello world</h1>
            <p>Goodbye world!</p>
        </template>

        <p v-show="showhelloworld">Hello world</p>

        <p v-if="a > 0">pozitív</p>
        <p v-else-if="a < 0">negatív</p>
        <p v-else>nulla</p>

        <ul>
            <li v-for="fruit in fruits" :key="fruit">{{fruit}}</li>
        </ul>

        <div v-for="(fruit, index) in fruits">{{index + 1}}, {{fruit}}</div> 

        <ul>
            <li v-for="value in person">{{value}}</li>
        </ul>

        <ul>
            <li v-for="(value, key) in person" >{{key}} : {{value}}</li>
        </ul>

        <ul>
            <li v-for="n in 10">{{n}}</li>
        </ul>

    <!--<ul>
            <span v-for="todo in todos">
                <li v-if="!todo.done">{{todo.text}}</li>
            </span>
        </ul>-->

        <button @click="addSome(1)">+1</button>
        <button @click="addSome(5)">+5</button>
        <p>{{counter}}</p>

        <a @click.prevent="addOne" href="https:\\szbi-pg.hu" >PG</a>

        <input type="text" @keyup.enter="addSome(1)" @keyup.space="addSome(5)">
        <p>{{counter}}</p>

        <p @mouseover="performMouseOver()" @mouseout="performMouseOut()">Move your mouse here</p>
        <p> Statusz: {{mouseEventStatus}}</p>

        <ul>
            <li v-for="n in 5" @click="addSome(n)" >Add: {{n}}</li>
            
        </ul>
        <p>Counter: {{counter}}</p>

        <input type="text" v-model="inputText">
        <p>{{inputText}}</p>

        

    </div>    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="app.js"></script>
</body>
</html>